<div class="text-center container" >
<h1>Inicio</h1>
<h2>Bienvenido {{user}}</h2>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Inciar Sesion</h3>
                        <form id="formLogIn">
                            <div class="">
                                <input type="text" id="typeEmailX" class="form-control form-control-lg" required autocomplete="off" placeholder="admin" />
                                <label class="form-label" for="typeEmailX">Usuario</label>
                            </div>

                            <div class="">
                                <input type="password" id="typePasswordX" class="form-control form-control-lg"
                                    required autocomplete="off" 
                                    placeholder="admin"/>
                                <label class="" for="typePasswordX">Contraseña</label>
                            </div>

                            <div class="">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                <label class="form-check-label" for="form1Example3"> Recordar contraseña </label>
                            </div>

                            <button class="" type="submit">Enviar</button>

                            <hr class="my-4">
                        </form>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<script src="/home.js"></script>