<div class="container d-flex justify-content-evenly">
  <h1>Bienvenido <span id="user">{{user}}</span></h1>
  
  <button class="btn btn-dark btn-lg btn-block" type="button" id="logout">Salir</button>

</div>


<div class="container">
  {{>productos}}
</div>
<script src="/logout.js"></script>